body {
    background: #DDC5A2;
}
.thead {
    width: 100%;
    height: 150px;
    margin-top: 0px;
}
#center {
    display: block;
    background: #301B28;
    margin: 0px auto;
    width: auto;
    height: 150px;
    margin-top: -20px;
}
#titulo h1 {
    text-align: center;
    padding-top: 47px;
    font-weight: bold;
    font-size: 40px;
    color: #DDC5A2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.clearfix {
    clear: both;
    float: none;
}
.tbody {
    width: 100%;
    height: 500px;
    margin-top: 0px;
}
#cuerpo {
    background: #523634;
    width: auto;
    height: 500px;
    margin: 0px auto;
}
#cuerpo2 {
    background: #523634;
    width: auto;
    height: 800px;
    margin: 0px auto;
}
#titulo2 {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    color: #DDC5A2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
    padding-top: 5px;
}
#definicion p {
    display: block;
    text-align: justify;
    font-weight: bold;
    font-size: 17px;
    color: #DDC5A2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px;
}
.footer {
    background: #B6452C;
    width: 100%;
    height: 70px;
    float: unset;
    margin-top: 5px;
}
#copy {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #DDC5A2;
    padding-top: 22px;
}
#boton {
    display: block;
    margin: 0px auto;
}
#btn {
    display: block;
    background: #301B28;
    color: #DDC5A2;
    border: none;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    height: 50px;
    width: 150px;
    border-radius: 5%;
    margin: 0px auto;
    cursor: pointer;
}
#btn:hover{
    background: #B6452C;
}
#tb {
    display: block;
    margin: 0px auto;
}
#tabla {
    display: block;
    float: left;
    border: 2px solid #DDC5A2;
    margin-left: 20px;
    margin-top: -123px;
}
input {
    background: transparent;
    border: 2px solid #DDC5A2;
    height: 50px;
    width: 80px;
    color: #DDC5A2;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
#btn2 {
    display: block;
    background: #301B28;
    color: #DDC5A2;
    border: none;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    height: 50px;
    width: 150px;
    border-radius: 5%;
    margin-top: -70px;
    margin-left: 20px;
    cursor: pointer;
}
#btn2:hover {
    background: #B6452C;
}
#mux {
    display: block;
    float: left;
    height: 200px;
    margin-left: -15px;
    margin-top: -129px;
    cursor: pointer;
}
#dmux {
    display: block;
    float: left;
    height: 181px;
    margin-left: -1px;
    margin-top: -120px;
    cursor: pointer;
}
#tabla2 {
    display: block;
    float: left;
    border: 2px solid #DDC5A2;
    margin-left: 0px;
    margin-top: -66px;
}
#tabla2 input {
    width: 64.7px;
}
#tabla2A {
    display: block;
    float: left;
    border: 2px solid #DDC5A2;
    margin-left: 0px;
    margin-top: -66px;
}
#tabla2A input {
    width: 73.2px;
}
#contenedor {
    margin: 0px auto;
    margin-top: 150px;
}
#tabla3 {
    display: block;
    float: right;
    border: 2px solid #DDC5A2;
    margin-right: 20px;
    margin-top: -183px;
}
#subtitulo1 {
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: 17px;
    color: #DDC5A2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
    padding-top: 0px;
    margin-left: 20px;
}
#subtitulo2 {
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: 17px;
    color: #DDC5A2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 20px;
}
#btn-clear {
    background: #301B28;
    color: #DDC5A2;
    border: none;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    height: 50px;
    width: 150px;
    border-radius: 5%;
    margin-top: 12px;
    margin-left: 300px;
    cursor: pointer;
}
#btn-clear:hover {
    background: #B6452C;
}